<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900024942122-878q4q5lqi1oqnhvg35k216rdjuaecqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900024942122-878q4q5lqi1oqnhvg35k216rdjuaecqq</string>
	<key>API_KEY</key>
	<string>AIzaSyBMmbffxhGz7Zk4rLdlIKpdw1lXwbkMie8</string>
	<key>GCM_SENDER_ID</key>
	<string>900024942122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testproject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testproject-15c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-15c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900024942122:ios:8736e3c9f9e940d54acd53</string>
</dict>
</plist>